nav, .admin-drop{
  background: unset;
}
button{
  cursor: pointer;
}
.input-grp{
  display: grid;
  grid-row-gap: 5px;
  margin: 13px 0;
}
.input-elmt{
  border: 2px solid var(--grey3);
  padding: 10px 6px 5px 6px;
  border-radius: var(--bRadius);
  max-width: 300px;
  width: 100%;
}



main{
  display: block;
  padding-bottom: 1rem;
}
.prof-sect{
  display: grid;
  justify-items:center;
  align-content: center;
  padding: unset;
margin: 10px;
}
.holder-sect{
  align-items: flex-start;
  padding: 2rem 1rem;
}
.detail{
  display: flex;
  margin: 15px 0;
  width: 100%;
justify-content: space-around;
}
.input-grp{
  margin: unset;
  margin-left:5px;
}
.input-grp label{
  font-weight: 600;
}
.input-elmt{
  width: unset;
  max-width: 185px;
}
.edit-btn, .repair-btn, .add-btn, .del-btn, .save-changes{
  padding: 5px 10px;
  border-radius: var(--bRadius);
  border: 2px solid var(--textGreyish);
  /* outline: none; */
  background: white;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}
.edit-btn .icon, .repair-btn .icon, .add-btn .icon{
  width: 20px;
height: 20px;
margin: 0 3px;
}
.edit-btn{
  margin-top: 5px;
}
.repair-btn{
  color: var(--orangeColor);
  border-color: var(--orangeColor);
  width: max-content;
}
.add-btn, .save-changes{
  background: var(--blue);
  border-color: var(--blue);
  color: white;
  margin-left: unset;
}
.del-btn{
  color: var(--red);
  width: max-content;
  border-color: var(--red);
  margin: auto;
}
.bgPattern {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--orangeLinear);
    padding: 1rem;
    /* margin-top: 3rem; */
}
.user-img{
background: #d7d5d5;
width: 150px;
height: 150px;
border-radius: 50%;
align-self: flex-end;
box-shadow: 2px 3px 8px 0px #00000047;
}
.bgPattern h3{
  color: white;
font-size: 22px;
font-weight: 600;
text-align: center;
flex-grow: 1;
}
.car-detail{
  padding: 8px 5px;
border: 1px solid var(--f3White);
border-radius: var(--bRadius);
box-shadow: var(--darkerShadow);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 15px 0;
}
.pwd-pop{
  /* padding: 10px; */
border: 2px solid var(--grey3);
border-radius: var(--bRadius);
max-width: 300px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
z-index: 5;
background: white;
padding: 10px;
width: 100%;
max-width: 300px;
display: none;
}
.pwd-pop form div{
  margin: 14px 0;
}

.pwd-btns{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}
.dark-overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.329);
  z-index: 2;
  display: none;
  pointer-events: all;
}





@media screen and (max-width:320px){
.user-img{
  width: 120px;
  height: 120px;
}
}



.show-flex{
  display: flex;
}