nav, .admin-drop{
  background: unset;
}


main{
  display: block;
}
.prof-sect{
  display: grid;
  justify-items:center;
  align-content: center;
  padding: unset;
margin: 10px;
}
.holder-sect{
  align-items: flex-start;
}
.detail{
  display: flex;
  margin: 15px 0;
}
.input-grp{
  margin: unset;
  margin-left:5px;
}
.input-grp label{
  font-weight: 600;
}
.input-elmt{
  width: unset;
}
.edit-btn, .repair-btn, .add-btn, .del-btn{
  padding: 5px 10px;
  border-radius: var(--bRadius);
  border: 2px solid var(--textGreyish);
  /* outline: none; */
  background: white;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}
.edit-btn .icon, .repair-btn .icon, .add-btn .icon{
  width: 20px;
height: 20px;
margin: 0 3px;
}
.repair-btn{
  color: var(--orangeColor);
  border-color: var(--orangeColor);
  width: max-content;
}
.add-btn{
  background: var(--blue);
  border-color: var(--blue);
  color: white;
}
.del-btn{
  color: var(--red);
  width: max-content;
  border-color: var(--red);
  margin: auto;
}
.bgPattern {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--orangeLinear);
    padding: 1rem;
    /* margin-top: 3rem; */
}
.user-img{
background: #d7d5d5;
width: 150px;
height: 150px;
border-radius: 50%;
align-self: flex-end;
box-shadow: 2px 3px 8px 0px #00000047;
}
.bgPattern h3{
  color: white;
font-size: 22px;
font-weight: 600;
text-align: center;
flex-grow: 1;
}
.car-detail{
  padding: 8px 5px;
border: 1px solid var(--f3White);
border-radius: var(--bRadius);
box-shadow: var(--darkerShadow);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 15px 0;
}


@media screen and (max-width:320px){
.user-img{
  width: 120px;
  height: 120px;
}
}
