body{
  min-height: 90vh;
}
main{
  display: flex;
justify-content: space-between;
align-items: center;
}
section{
  padding: 4rem 1rem;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
padding-bottom: 0;
flex-grow: 1;
}
form h3{
  text-align: center;
margin-bottom:5px;
}
form{
  flex-grow: 0.3;
}
form p a{
  color: var(--blue);
font-weight: 600;
}
form p a:hover{
color: var(--highlightBlueHover);
}
.input-grp{
  display: grid;
  grid-row-gap: 5px;
  margin: 13px 0;
}
.input-elmt{
  border: 2px solid var(--grey3);
  padding: 10px 6px 5px 6px;
  border-radius: var(--bRadius);
  max-width: 300px;
  width: 100%;
}
.reg-btn{
  margin-top: 10px;
  border-radius: 30px;
  padding: 10px 14px;
  border: none;
  background: var(--blue);
  color: white;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  /* transition: 0.2s; */
}
.bgImage{
  width: 60%;
background: linear-gradient(320deg,transparent,#f98e0ea3),url("Images/brake-disc.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;

}
.reg-btn:hover{
  background: var(--highlightBlueHover);
}



@media screen and (max-width:600px){
.bgImage{
  display: none;
}
}
